/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: #f9f9fa;
  
}

header{
  height: 500px;
  background-color: #4717ff;
  padding-left: 5%;
  padding-top: 2%;
}

nav{
  float: right;
  margin-right: 5%;
  margin-top: 20px;
}

.nav-item {
  margin-left: 20px;
  color: #fff;
}

.nav-item-active{
  background-color: #fff;
  padding: 2px 10px;
  margin-left: 20px;
  border-radius: 5px;
  color: #4717ff;
  font-weight: bold;
}

.logo {

  margin-top: 30px;
  margin-bottom: 50px;
}

.header-text {
  color: #fff;
  margin: 20px 0px 10px;
  font-size: medium;
  max-width: 70vw;

}

.header-image{
  float: right;
  position: relative;
  top: -220px;
}

.companies{
  margin-left: 5%;
  margin-top: 2%;
}

.company-items {
  font-family: 'Righteous', cursive;
  text-decoration: none;
  color: #000;
  font-weight: bolder;
  margin-right: 20px ;
}

.api-heading {
  margin-left: 5%;
  margin-top: 5%;
  font-size: 30px;
  font-weight: 900;
}

.cards{
  margin-left: 5%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-right: 2%;
}

.card {
  height: 250px;
  width: 20vw;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.card-active {
  height: 250px;
  width: 20vw;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}

.card-body{
  font-size: 15px;
}

.blog-heading {
  position: relative;
  margin-left: 5%;
  margin-top: 5%;
  font-weight: bold;
}

.blog-heading:after {
  content: "See All Articles";
  color: #4717ff;
  font-size: 15px;
  font-weight: 900;
  position: absolute;
  bottom: 10%;
  right: 10%;

}

.blog-cards {
  margin-left: 5%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 15px;
  
}
.blog-card {
  height: 288px;
  width: 50%;
  background-color: white;
  
}


.blog-image {
  float: left;
  margin-right: 10px;
}

.blog-content h6 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.blog-content h3 {
  margin-right: 10px;
  font-weight: 900;
}
.blog-card-bottom-image{
  position: absolute;
  margin-top: 55px;
}
.blog-author {
  font-size: smaller;
  font-weight: bold;
  margin-top: 60px;
  margin-left: 60px;
}




.faq-section {
  margin-top: 5%;
  background-color: #e8edfe ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-left: 5%  ;
}


.faq-content h2 {
  font-size: 30px;
  font-weight: bold;
}

.faq-content h4 {
  font-size: small;
  font-weight: 400;
}

.faq-content :nth-child(3)
{
  font-size: 15px;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 10px;
}

.faq-content button {
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  color: #e8edfe;
  background-color: #4717ff;
  border-style: none;
}

.download-section {
  background-color: #fff;
  height: 250px;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;

}

.download-content {
  font-weight: bold;
}

.download-content span {
  font-weight: normal;
}


.download-email input {
  border-style: none;
  background-color: #e8edfe;
  position: relative;
  border-radius: 999px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 200px;
  left: 135px;
}

.download-email button {
  border-style: none;
  position: relative;
  color: #e8edfe;
  background-color: #4717ff;
  position: relative;
  border-radius: 999px;
  padding: 9px 30px;
}

.footer-section {
  padding-top: 80px;
  padding-left: 5%;
  padding-right: 5%;
  color: #fff;
  background-color: #4717ff;
  align-items: center;
  height: 250px;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

.list , .logos-list {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}

.footer-logos {
  margin-left: 10px;
}

.logos-list {
  justify-content: flex-end;
  margin-top: 60px;
}



@media screen and (max-width: 480px) {
  
}